* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #f9f8fe;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 5px;
}

/* header first section end */

.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.logo_img {
  max-width: 250px;
}

.input_search {
  width: 559px;
  height: 40px;
  margin-left: 27px;
  padding: 16px 0 16px 24px;
  color: var(--dark-gray-3, #666);
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.75px;
  opacity: 0.6;
}

.search_icon {
  color: #666666;
  margin-left: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_left_link {
  color: var(--dark-gray-2, #474747);
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.75px;
}

.navbar_left_btn {
  width: 114px;
  height: 40px;
  margin: 0 40px;
  color: var(--light-gray-3, #f5f5f5);
  background-color: #c903fc;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.shop_icon {
  color: #c903fc;
  cursor: pointer;
}

.burger_menu,
.search_left_icon {
  display: none;
}

/* header first section end */

/* first header section media */

@media screen and (max-width: 1160px) {
  .navbar_left_link {
    display: none;
  }
  .navbar_left_btn {
    margin: 0 10px;
  }
  .navbar_left {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  .search_left_icon {
    display: block;
  }
}

@media screen and (max-width: 1060px) {
  .navbar_left_btn {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .input_search,
  .search_icon {
    display: none;
  }
  .burger_menu {
    display: flex;
  }
}

/* first header section media end */

/* second header section */

.nav {
  display: flex;
  column-gap: 32px;
  height: 80px;
  align-items: center;
}

.nav_link {
  text-decoration: none;
  color: var(--dark-gray-2, #474747);
  font-weight: 400;
  letter-spacing: 0.75px;
}

.nav_link:hover {
  color: #c903fc;
}

/* second header section end */

/* second header section media */

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .nav {
    display: none;
  }
}

/* second header section media end */

/* First main Section */

.bg_all {
  background: var(--light-gray-3, #f5f5f5);
  width: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about_body {
  padding-top: 124px;
}

.about_body_mini_text {
  color: var(--warning, #f6aa1c);
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.75px;
}

.about_body_title {
  max-width: 260px;
  color: var(--dark-gray, #1f1f1f);
  font-size: 44px;
  line-height: 66px; /* 103.125% */
  letter-spacing: 1px;
}

.about_body_text {
  max-width: 410px;
  color: var(--dark-gray-2, #474747);
  font-size: 18px;
  line-height: 34px; /* 188.889% */
  letter-spacing: 0.75px;
}

.about_body_btn {
  width: 220px;
  height: 48px;
  color: #f5f5f5;
  background-color: #c903fc;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

/* First main Section end */

/* First section media */

@media screen and (max-width: 920px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
  }
  .about_body_title {
    font-size: 32px;
    line-height: normal;
    max-width: 460px;
  }
  .about_body_text {
    line-height: 30px;
  }
  .about_body_btn {
    width: 365px;
    margin-bottom: 50px;
  }
}

@media screen and (max-with: 440px) {
  .about_body_text {
    line-height: 5px;
  }
}

/* First main Section media end */

/* featured_collections main Section */

.featured_collections_title {
  color: var(--dark-gray-2, #474747);
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.75px;
  margin: 10px 0;
}

.featured_collections_wrap {
  display: flex;
  justify-content: space-between;
}

.featured_collections_card {
  overflow: hidden;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #d8e3f2;
}

.featured_collections_body {
  padding-left: 30px;
}

.featured_collections_body_discount {
  border-radius: 29px;
  background: #e7ff86;
  padding: 5px 15px;
  color: var(--dark-gray-2, #474747);
  font-size: 14px;
  font-weight: bold;
}

.featured_collections_body_title {
  color: var(--dark-gray, #1f1f1f);
  font-weight: 700;
  line-height: 36px; /* 112.5% */
  letter-spacing: 1px;
  padding: 20px 0;
  max-width: 172px;
}

.featured_collections_body_btn {
  width: 153px;
  height: 48px;
  color: var(--primary, #c92071);
  text-align: center;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.75px;
  color: #c92071;
  border: none;
  border-radius: 8px;
}

.featured_collections_card_img {
  max-width: 60%;
}

/* featured_collections main Section media  */

@media screen and (max-width: 1350px) {
  .featured_collections_wrap {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

@media screen and (max-width: 910px) {
  .featured_collections_title {
    display: flex;
    justify-content: center;
  }
  .featured_collections_wrap {
    justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .featured_collections_body {
    padding: 20px 0px;
    padding-left: 20px;
  }
  .featured_collections_card_img {
    padding-top: 32px;
  }
}

/* featured_collections main Section media end */

/* featured_collections main Section end */

/* product main section   */

.product_title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.product_wrap {
  display: flex;
  justify-content: center;
  column-gap: 48px;
}

.product_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product_card_img {
  display: inline-flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 150px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
}

.product_card_text {
  padding-top: 15px;
}

/* product main section  end */

/* product main section media */

@media screen and (max-width: 730px) {
  .product_card_2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .product_card_3 {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .product_card_img_2 {
    padding: 10px;
  }
}
/* product main section media end  */

/* high_products main section */

.high_products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.high_products a {
  color: var(--primary, #c92071);
  font-size: 18px;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
  letter-spacing: 0.75px;
}

.high_products i {
  color: var(--primary, #c92071);
}

.high_products_img_block {
  display: flex;
  flex-direction: column;
  max-width: 292px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 6px 16px 30px 0px rgba(105, 98, 98, 0.05);
  padding-left: 10px;
  padding-top: 20px;
}

.high_products_card_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.featured_collections_body_discount_body {
  display: flex;
  align-items: start;
}

.high_products_body {
  margin-top: 10px;
}

.high_products_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.high_products_body_mini_text {
  color: var(--light-gray, #8f8f8f);
  font-size: 12px;
  font-weight: 700;
  line-height: 24px; /* 200% */
  letter-spacing: 0.75px;
}

.high_products_body_title {
  color: var(--dark-gray-2, #474747);
  font-size: 24px;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.75px;
}

.del_price {
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.75px;
}

.high_products_body_price {
  color: var(--dark-gray, #1f1f1f);
}

/* high_products main section end */

/* high_products main section media */
@media screen and (max-width: 630px) {
  .high_products_img_block {
    max-width: 163px;
  }
  .high_products_body_title {
    font-size: 15px;
  }
  .featured_collections_title {
    font-size: 18px;
  }
}
/* high_products main section media end */

/* special offer main section */

.special_offer {
  margin: 106px 0;
  display: flex;
  justify-content: space-between;
}

.special_offer_mini_title {
  color: var(--primary, #c92071);
  font-size: 14px;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.75px;
}
.special_offer_img{
  max-width: 500px;
}
.special_offer_title {
  max-width: 500px;
  color: var(--dark-gray-2, #474747);
  font-size: 48px;
  line-height: 50px; /* 104.167% */
  letter-spacing: 1px;
}

.special_offer_text {
  max-width: 589px;
  color: var(--dark-gray-2, #474747);
  line-height: 28px; /* 175% */
  letter-spacing: 0.75px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* special offer main section media */

@media screen and (max-width:1250px) {
  .special_offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .special_offer_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width:560px) {
  .special_offer_title{
    font-size: 28px;
  }
  .special_offer_img{
    max-width: 300px;
  }
}

@media screen and (max-width:400px) {
  .special_offer_title{
    font-size: 22px;
    line-height: normal;
  }
}

@media screen and (max-width:390px){
  .special_offer_title{
    font-size: 20px;
  }
  .special_offer_text{
    font-size: 14px;
  }
  .about_body_btn{
    width: 300px;
  }
}

@media screen and (max-width:360px){
  .high_products_wrap{
    display: flex;
    justify-content: center;
  }
}

/* special offer main section media end */


/* special offer main section end */

/* footer_section */

.bg_black{
  width: 100%;
  background-color: #000000;
}

.footer_wrap{
  padding: 72px 0;
  display: flex;
  justify-content: space-between;
}

.footer_wrap_item_text{
  color: var(--white, #FFF);
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 307px;
  margin: 35px 0;
}

.facebook:not(:last-child){
  margin-right:20px;
}

.footer_wrap_item_title{
  color: var(--white, #FFF);
  font-size: 18px;
  font-weight: 600;
}

.footer_wrap_item_link{
  color: var(--white, #FFF);
  font-weight: 400;
  line-height: 38px; /* 237.5% */
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.text{
  max-width: 231px;
}

hr{
  fill: var(--white, #FFF);
  opacity: 0.3;
}

.footer_last{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.copyright_text{
  color: var(--white, #FFF);
font-size: 13px;
font-weight: 400;
line-height: 24px; /* 184.615% */
}

/* footer media */

@media screen and (max-width:930px) {
  .footer_wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
  }
}

/* footer media end */

/* footer section end */
